.bankItem {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin: 4px 0;
    gap: 8px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 40px;
    cursor: pointer;
}

.bankItem:hover {
    background: #EEEEEE;
}

.bankItemClick {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin: 4px 0;
    gap: 8px;
    height: 40px;
    background: #EEEEEE;
    border-radius: 40px;
    cursor: pointer;
}

.bankName {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #152242;
}

.bankIcon {
    width: 24px;
    height: 24px;
}