.buildingType {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 50px;
    color: #152242;
}

.buildingType + .buildingType {
    margin-top: 10px;
}

.buildingType input[type="radio"] {
    display: none;
}

.buildingSpan {
    display: block;
    position: absolute;
    height: 8px;
    width: 8px;
    left: 15px;
    border-radius: 50%;
    background-color: #ebeff7;
    border: 5px solid #ebeff7;
}

.buildingSpanClick {
    display: block;
    position: absolute;
    height: 8px;
    width: 8px;
    left: 15px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #0468FF;
}
