.container {
    box-sizing: border-box;
    position: absolute;
    width: 375px;
    height: 1284px;
    background: #FFFFFF;
    border: 1px solid rgba(21, 34, 66, 0.1);
    box-shadow: 0px -52px 100px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0 0;
    padding: 24px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 311px;
    height: 28px;
}
.header h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}
.header a {
    width: 24px;
    height: 24px;
}
.creditBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 6px;
}
.creditBody h4 {
    width: 56px;
    height: 22px;
    margin: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.creditSum {
    width: 311px;
    height: 40px;
    border: 1px solid #CED1D7;
    border-radius: 4px;
}

.initPayment {
    width: 311px;
    height: 102px;
    margin-bottom: 20px;

}

.initPayment h4 {
    width: 171px;
    height: 22px;
    margin: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.initPaymentSum {
    width: 311px;
    height: 40px;
    border: 1px solid #CED1D7;
    border-radius: 4px;
}

.percentageBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0;
    width: 232px;
    height: 32px;
    gap: 8px;
}

.percentageBtn a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 8px;
    gap: 10px;
    width: 40px;
    height: 24px;
    background: rgba(4, 104, 255, 0.1);
    border-radius: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
}

.loanTerm {
    width: 311px;
    height: 102px;
    margin-bottom: 28px;
}

.loanTerm h4 {
    width: 171px;
    height: 22px;
    margin: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.loanTermAmount {
    width: 311px;
    height: 40px;
    border: 1px solid #CED1D7;
    border-radius: 4px;
}

.yearsBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0px;
    gap: 8px;
    width: 229px;
    height: 32px;
}

.yearsBtn a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 8px;
    gap: 10px;
    width: 46px;
    height: 24px;
    background: rgba(21, 34, 66, 0.06);
    border-radius: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
}

.bank {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 231px;
    height: 328px;
    padding: 8px 0 8px 0;
}

.bank h3 {
    display: flex;
    align-items: center;
    width: 231px;
    height: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.bank-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    width: 94px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 40px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
}

.bank-item:hover {
    border: 1px solid #000;
}

.building {
    width: 308px;
    height: 148px;
}

.housing {
    width: 308px;
    height: 148px;
}

.insurance p {
    width: 185px;
    height: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}
