.bankContainer {
    display: flex;
    flex-direction: column;
    padding: 8px 0px;
    gap: 8px;
    /* width: 231px;
    height: 328px; */
    margin-top: 20px;
}

.bankLabel {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    color: #152242;
}

.bankField {
    display: flex;
    flex-direction: column;
    /* padding: 0px;
    width: 231px;
    height: 280px; */
}

.bankItem {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    /* position: absolute; */
    /* width: 94px; */
    height: 40px;
    background: #FFFFFF;
    border-radius: 40px;
    cursor: pointer;
}

.bankItem:hover {
    background: #EEEEEE;
}

.bankName {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #152242;
}

.bankIcon {
    width: 24px;
    height: 24px;
}